@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9330572');
  src: url('../font/fontello.eot?9330572#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?9330572') format('woff'),
       url('../font/fontello.ttf?9330572') format('truetype'),
       url('../font/fontello.svg?9330572#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9330572#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-file-pdf:before { content: '\e800'; } /* '' */
.icon-turn-on-off:before { content: '\e801'; } /* '' */
.icon-electrical-power:before { content: '\e802'; } /* '' */
.icon-consumer-building:before { content: '\e803'; } /* '' */
.icon-producer-solar-panel:before { content: '\e804'; } /* '' */
.icon-globe-hifi:before { content: '\e805'; } /* '' */
.icon-quote-left:before { content: '\e806'; } /* '' */
.icon-globe-lowfi:before { content: '\e807'; } /* '' */
.icon-thumbs-up:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-savings:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-quote-right:before { content: '\e80c'; } /* '' */
.icon-wallet:before { content: '\e80d'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-play-outline:before { content: '\e80f'; } /* '' */
.icon-pause-outline:before { content: '\e810'; } /* '' */